<form class="main__formularioContacto" action="#">

    <div role="region" class="formularioContacto__groupPassword">
        <label for="nombre" id="label__nombre" aria-label="input__nombre">Nombre</label>
        <input type="text" name="input__nombre" id="input__nombre" aria-labelledby="label__nombre">
    </div>

    <div role="region" class="formularioContacto__groupNombre">
        <label for="password" id="label__password" aria-label="input__password">Password</label>
        <input type="text" name="input__password" id="input__password" aria-labelledby="label__password" required
            aria-required="true">
    </div>

    <div role="region" class="formularioContacto__groupBotonera">
        <button type="submit" disabled aria-disabled="true">Enviar</button>
    </div>

</form>