footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cf1f36;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #cf1f36;
  height: 3em;
}


.footer-container img {
  height: 3.5em;
  width: 100%;
}

.redes-sociales {
  display: flex;
}

.redes-sociales img {
  height: 100%;
  width: 70%;
}

.copyright {
  display: flex;
  justify-content: right;
  align-items: right;
}

