/* Tipografía */

@font-face {
  font-family: "PokeClassic";
  src: url("../fonts/PokemonClassic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenDyslexic3-Bold";
  src: url("../fonts/OpenDyslexic3-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenDyslexic3-Regular";
  src: url("../fonts/OpenDyslexic3-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url("../imgs/general/fondoNoche.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}