<div class="main__picture">
     <picture>
          <source type="image/webp" srcset="./assets/images/fondo_landing_1-1.webp" />
          <source type="image/jpg" srcset="./assets/images/fondo_landing_1.jpg" />
          <img class="img" src="./assets/images/fondo_landing_1.png" alt="prueba"
               srcset="./assets/images/fondo_landing_1.png" />
     </picture>
</div>

<!--
<div class="main__picture">
     <video controls class="video">
          <source src="./assets/videos/video_coding_mp4.mp4" type="video/mp4">
          <source src="./assets/videos/video_coding_webm.webm" type="video/webm">
          Video no soportado
     </video>
</div>
-->

<section class="main__tabs">
     <div role="region" class="tabs_botonesTab">
          <div role="button" class="botonesTab__pestana activo">¿Quiénes somos?</div>
          <div role="button" class="botonesTab__pestana">Nuestra misión</div>
          <div role="button" class="botonesTab__pestana">Nuestros principios</div>
     </div>

     <div role="region" class="tabs__contenedorTexto">
          <div tabindex="0" class="contenedorTexto__bloque activo">Lorem ipsum dolor sit amet consectetur adipisicing
               elit. Dignissimos
               animi magni facilis, quaerat eius quidem fugit maiores asperiores earum porro aut, distinctio sed
               cupiditate ipsum, explicabo quis? Dignissimos, beatae cum.

               <!-- Imagen, y al lado los datos de las personas que componen ubriweb-->

          </div>

          <div tabindex="0" class="contenedorTexto__bloque">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
               Maiores sed
               facere magni incidunt quos iste beatae harum voluptatum et dicta quis perferendis recusandae explicabo
               eum labore, delectus qui? Libero, nemo.

               <!-- Heading, diferentes misiones
               p con texto que incluya las descripciones de las misiones -->

          </div>



          <div tabindex="0" class="contenedorTexto__bloque">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
               Est accusantium
               odio enim, dignissimos quo eaque aliquid repellendus laboriosam amet? Consequatur illum est perferendis
               consequuntur voluptates, eius autem dolorum nemo veritatis.

               <!-- Heading, diferentes misiones
               p con texto que incluya las descripciones de las misiones -->


          </div>


     </div>
</section>

<section class="main__acordeon">

     <div class="acordeon__divContenedor">
          <h2 class="divContenedor__titulo">Titulo 1</h2>
          <p class="divContenedor__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, mollitia!
          </p>
     </div>
     <div class="acordeon__divContenedor">
          <h2 class="divContenedor__titulo">Titulo 2</h2>
          <p class="divContenedor__contenido">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur
               natus ex tempore, corporis nobis aliquid.</p>
     </div>

</section>