$color-fondo-contenido: #ffffff;
$color-letra-contenido: #000000;

$color-fondo-header: #000000;
$color-letra-header: #ffffff;

$color-fondo-nav: #838282;
$color-letra-nav: #222222;

$color-borde-elemento-nav: #b31312;