@import url("styleDesktop.css");
@import url("stylePortatil.css");
@import url("styleMovil.css");

body{
    margin: 0;
}

.container {
    height: 100vh;
}

.container__grid {
    display: grid;
    gap: 10px;
}

.zonaArticulo1, .zonaArticulo2, .zonaArticulo3 {
    min-height: 20vh;
}