@media screen and (min-width: 920px) {
    .container {
        background-color: black;
    }

    .container__grid {
        grid-template-columns: repeat(8, 1fr);
    }

    .zonaArticulo1 {
        grid-column: 2/4;
        background-color: brown;
    }

    .zonaArticulo2 {
        grid-column: 4/6;
        background-color: orangered;
    }

    .zonaArticulo3 {
        grid-column: 6/8;
        background-color: green;
    }
}
