<div class="main__picture">
     <picture>
          <source type="image/webp" srcset="./assets/images/fondo_landing_1-1.webp" />
          <source type="image/jpg" srcset="./assets/images/fondo_landing_1.jpg" />
          <img class="img" src="./assets/images/fondo_landing_1.png" alt="prueba"
               srcset="./assets/images/fondo_landing_1.png" />
     </picture>
</div>

<div class="main__carrousel">
     <div class="carrousel__grande">
          <div class="grande__picture">
               <picture>
                    <source type="image/webp" srcset="./assets/images/1.jpg" />
                    <source type="image/jpg" srcset="./assets/images/1.jpg" />
                    <img class="img" src="./assets/images/1.jpg" alt="imagen 1" srcset="./assets/images/1.jpg" />
               </picture>
          </div>
          <div class="grande__picture">
               <picture>
                    <source type="image/webp" srcset="./assets/images/2.jpg" />
                    <source type="image/jpg" srcset="./assets/images/2.jpg" />
                    <img class="img" src="./assets/images/2.jpg" alt="imagen 2" srcset="./assets/images/2.jpg" />
               </picture>
          </div>
     </div>
     <div class="carrousel__botones">
          <div rol="button" class="botones__boton activo"></div>
          <div rol="button" class="botones__boton"></div>
     </div>
</div>